@use 'global.scss' as color;

.button {
    border-radius: 6px;
    background-color: color.$button-card-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 4em;
    color: white;
    cursor: pointer;
    button:hover{
        transform: translateX(5px);
        transition: .5s;
    }
    .arrow:hover{
        transform: translateX(5px);
        transition: .5s;
    }

}
