@use 'global.scss' as color;

.button{
    border-radius: 6px;
    background-color: color.$button-card-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 4em;
    color: white;
}