@use 'global.scss' as color;

.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .card1{
        background-color: color.$background-color;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .backimg{
            border: 1px solid;
            width: 100%;
        }
        
        span{
            width: 90%;
            display: flex;
            align-items: center;
            position: absolute;
            .img1{
                height: calc(10rem + 55vh);
                width: calc(10rem + 37vw) ;
            }
        }
    }
    .card2{
        border: 1.5px solid;
        width: 90%;
        height: calc(10rem + 41vh);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px 40px 0;
        span{
            display: flex;
            align-items: center;
            justify-content: center;
            .card{
                color: black;
                height: calc(13rem + 20vh);
                h1{
                    font-weight: 700;
                    width: 20vw;
                }
                p{
                    font-size: 1.1vw;
                }
            }
            .img2{
                height: calc(10rem + 41vh);
                width: calc(25rem + 60vw) ;
            }
        }
    }
    .card3{
        width: 90%;
        margin: 40px 0px 40px 0; 
        span{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card{
                color: black;
                height: calc(10rem + 20vh);
                width: calc(10rem + 28vw);

                h1{
                    font-weight: 700;
                    width: 30vw;
                }
                p{
                    font-size: 1.1vw;
                }
            }
            .img3{
                height: calc(10rem + 41vh);
                width: calc(10rem + 30vw) ;
            }  
        }
        
    }
    .card4{
        width: 100%;
        height: 100vh;
        margin: 40px 0px 40px 0; 
        background-color: color.$background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card{
                height: calc(10rem + 20vh);
                width: calc(15rem + 28vw);

                h1{
                    font-weight: 700;
                    font-size: calc(2rem + 2vw);
                }
                p{
                    font-size: 1.1vw;
                }
            }
            .img4{
                height: calc(10rem + 41vh);
                width: calc(10rem + 30vw) ;
            }  
        }
    }
    .card5{
        width: 100%;
        height: 100vh;
        margin: 40px 0px 40px 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        span{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .card{
                height: calc(13rem + 20vh);
                width: calc(15rem + 25vw);
                color: black;
                h1{
                    font-weight: 700;
                    font-size: calc(rem + 2vw);
                    width: calc(10rem + 20vw);
                }
                p{
                    font-size: 1.1vw;
                }
            }
            .img5{
                height: calc(10rem + 41vh);
                width: calc(10rem + 30vw) ;
            }  
        }
    }
    .card6{
        border: 1px solid;
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .heading{
            text-align: center;
            h1{
                font-size: 3.5rem;
                font-weight: 700;
            }
            p{
                width: 62vw;
            }
        }
        .plan{
            border: 1px solid;
            max-width: 80vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
            .middle-card{
                border: 1px solid;
                height: 100vh;
                background-color: color.$background-color;
                color: white;
                .check{
                    color: color.$secondry-color ;
                }
            }
        }
        
        
    }
}